# MacOS junk
.DS_Store

# Tex junk
*.gz
*.aux
*.fdb_latexmk
*.log
*.fls
*.xdf
*.out
*.xdv
*.upa
*.pdfpc
*.nav
*.toc
*.snm

# Latex bib files
*.bbl
*.blg

# For creating a mwe
doc/test

# For compiling latex
latexrun


figures/latviz
